@import '../../styles/vendor/scss/variables';
@import '../../styles/vendor/scss/variables.md';

.todo-app{
  .todo-filter{
    text-align: center;
    margin-bottom: 25px;
    a {
      padding: 15px;
      font-size: 16px;
      &.active {
        border-bottom: solid 2px;
        font-weight: 600;
      }
    }
  }
  .todo-form{
    background-color: white;
    padding: 25px;
    margin-bottom: 50px;
  }
  ul {
    list-style: none;
    padding: 0px;
    li {
      &.todo.incomplete {
        .todo-status {
          background-color: $yellow-200;
          &:hover{
            background-color: $yellow-300;
          }
        }
      }
      &.todo.complete {
        .todo-text {
          text-decoration: line-through;
        }
        .todo-status {
          background-color: $green-200;
          &:hover{
            background-color: $green-300;
          }
        }
      }
      padding: 15px;
      margin-bottom: 5px;
      border-bottom: 2px solid black;
      div {
        display: inline-block;
        font-size: 22px;
        line-height: 22px;
        padding: 15px;
      }
      .delete-todo {
        float: right;
        font-weight: 600;
        cursor: pointer;
        background-color: $red-100;
        &:hover{
          background-color: $red-200;
        }
      }
      .todo-status {
        font-weight: 600;
        cursor: pointer;
        float: right;
        padding-right: 15px;
      }
    }
  }
}
